@page
@model ControleDeEstoque.Pages.Produtos.DetailModel
@{
}

<h1>Gerenciador de Estoque</h1>

   <section >
      <div bg-light">
        <div class="container">
            <div class="row">
                <hr />
                <div class="produto-picture">
                    <img src="@Html.DisplayFor(model => model.Produto.imagem)"/>
                    </div>
                    <div class="card-body">

                        <form class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="nome"><strong>Produto: @Html.DisplayFor(model => Model.Produto.nome)</strong></label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="sobrenome"><strong>Código: @Html.DisplayFor(model => Model.Produto.ID)</strong></label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="primeiroNome"><strong>Tam: @Html.DisplayFor(model => Model.Produto.tamanho)</strong></label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="sobrenome"><strong>R$: @Html.DisplayFor(model => Model.Produto.preco)</strong></label>
                                </div>
                                @*<div class="col-md-12">
                                    <label for="email"><strong>Categoria: @Html.DisplayFor(model => Model.Produto.Categoria.ID)</strong></label>
                                </div>*@
                                <div class="col-md-12">
                                    <label for="email"><strong>Descrição: @Html.DisplayFor(model => Model.Produto.descricao)</strong></label>
</div>
                            </div>
                        </form>
                        <div class="align-items-center">
                            <div>
                                <button type="button" class="w-100 btn btn-lg btn-primary">Destaque</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</div>
</section>
<div class="row">
    <a class="btn btn-outline-primary"
       asp-page="/Produtos/Edit"
       asp-route-id="@Model.Produto.ID">Atualizar</a>
    <a class="btn btn-outline-danger"
       asp-page="/Produtos/Delete"
       asp-route-id="@Model.Produto.ID">Deletar</a>
</div>